<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/index1.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Find your career</title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>DO THIS TEST</b>  </a>
        </div>
    </div> 
    <div id = "myBody1">
        <div>
            <h1 id = pem>What you find in our website:</h1>
            <p id = "Intro"> 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum, wolor sit amet consectetur adipisicing elit. Vero consequuntur laborum eveniet harum. Iusto reprehenderit quibusdam temporibus voluptate corporis, voluptates voluptatum.
            </p>
            <i id = made>
                 - Made with our passion - 
            </i>
        </div>
    </div>
    <div id= "mybody2">
        <div id = "box1">
            <img src="https://images.unsplash.com/photo-1505567745926-ba89000d255a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9712530090ee856b63852ed89fabb2c7&auto=format&fit=crop&w=751&q=80" alt="Find Your Path" style="width:450px;height:350px;">
            <div id = "box2">
                    <p id = about>ABOUT</p>
                    <p id = "txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam rerum nam voluptatum nemo.</p>
                    <a href="" id = quiz> <b>LEARN MORE</b>  </a>
            </div>   
        </div>
        <div id = box3>
                <div id = "box4">
                        <p id = about>EMAIL US</p>
                        <p id = "txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam rerum nam voluptatum nemo.</p>
                        <a href="" id = quiz> <b>TELL US YOUR STORY</b>  </a>
                </div>
                <img id = "img1"src="https://images.unsplash.com/photo-1519852476561-ec618b0183ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc4f89e82f4b02f3110ceaaba47db040&auto=format&fit=crop&w=738&q=80" alt="Find Your Path" style="width:450px;height:350px;">
        </div>
    </div>
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
        
    </div>
</body>
</html>