<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/personal_type.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Franklin|Roboto|Sacramento" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <title>Personality types</title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
            <div id = logo>
                C4E22 CAREER    
            </div>
            <div id = 'headercontent'>
                    <a href="/home" class = header>HOME</a>
                    <a href="/personal_types" class = header>PERSONALITY</a>
                    <a href="/job_sector" class = header >JOBS</a>
                    <a href="/topics" class = header >HOT</a>
                    <a href="/story" class = header  id = 'email'>EMAIL US</a>
            </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>DO THIS TEST</b>  </a>
        </div>
    </div>
    <div id = "myBody1">
        <div>
            <h1 id = "pem">Personality types</h1>
        </div>
    </div>
        <h2> <p id="they">They are:</p> 

            <button id="mediator" class="types">The Mediator</button>
            <button id="protagonist" class="types">The Protagonist</button>
            <button id="provider" class="types">The Provider</button>
            <button id="virtuoso" class="types">The Virtuoso</button>
            <button id="dynamo" class="types">The Dynamo</button>
        </h2>
    <div id="raat">
        <h1 id="first">The Mediator
            <h3 class="first">
                - You are a sensitive idealist
                motivated by your deeper
                personal values. You see the
                potential of a better future,
                and pursue truth and meaning
                with your own particular flair.
                You love motivating others to
                become better

            </h3>
            <h3 class="first">
                - Job best suited: Graphics Designer, 
                Pycologist, Writer, Artist, Editor, 
                Therapist, HR Deverlopment manager, 
                Councillor...
            </h3>
        </h1>
    </div>
    <div id="riit">
        <h1 id="second">The Protagonist
            <h3 class="second">
                - You are people living and driven, with
                lots of enegy and a desire to express 
                yourself. You always seem to be tuned 
                into the needs of others, but remain optimistic 
                and forward-looking
            </h3>
            <h3 class="second">
                - Job best suited: Advertising executive, public 
                Relations specialist, Corporate Coach, personal 
                Trainer, Teacher, Motivation Speaker, headhunter, 
                Fashion Design...
            </h3>
        </h1>
    </div>
    <div id="ruut">
            <h1 id="third">The Provider
                <h3 class="third">
                    - Motivated to help others, you find yourself 
                    always attracted to roles and duties that 
                    benefit others. With family and friends your 
                    top priority in life, you are generous with 
                    your time, effort and emotions
                </h3>
                <h3 class="third">
                    - Job best suited: Sale Rep, Doctor/nurse, 
                    Life Coach, Loan Officer, Policeman/woman, 
                    Social Worker, Government Worker, Paramedic..
                </h3>
            </h1>
        </div>
        <div id="ryyt">
            <h1 id="fourth">The Virtuoso
                <h3 class="fourth">
                    - You are straight forward and honest, a 
                    firm belive that action is better than words.
                    Your observant and troubleshooting nature means 
                    you approach life with flexible logic, looking 
                    for solutions to the problems at hand.
                </h3>
                <h3 class="fourth">
                    - Job best suited: Mechanic, Engineer, Economist, 
                    Auditor, Pilot, Data analyst, Scientist, landscape 
                    planner...
                </h3>
            </h1>
        </div>
        <div id="rkkt">
            <h1 id="fifth">The Dynamo
                <h3 class="fifth">
                    - You are energetic thrill seeker , happiest when 
                    you can fix problems. You love the excitement and 
                    uncertainty that comes with crisis management and 
                    problem solving, anything that requires you to 
                    be resourceful.
                </h3>
                <h3 class="fifth">
                    - Job best suited: Detective, Corporate banker, 
                    Business analyst, investor, Sport coach, Builder, 
                    Software developer, Air traffic cntroller...
                </h3>
            </h1>
        </div>
        <div id = "footer">
            <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
        </div>
</body>
</html>