<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <!-- phan topic 1-->
    <div class = topic_content>
        <div id="topic1">
            <h3 class = title>How to improve your time management skill</h3>
            <img src="https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d34293717666869c9f8d26d353e1bb24&auto=format&fit=crop&w=500&q=60"  height="400px" width="600px">
            <a  id = llink1 href="https://www.recruiter.com/i/7-ways-busy-to-improve-your-time-management-skills/">https://www.recruiter.com/i/7-ways-busy-to-improve-your-time-management-skills/s</a>
            <h4 id=intro1>1. Make a Schedule – and Stick to It</h4>
            <p id=intro1>Start improving your time management skills by organizing your days and weeks in advance. There will always be surprises, but it’s likely that you have an idea about the kinds of tasks and responsibilities you have to deal with every day.</p>
            <p id=intro1>If you’re feeling a little lost, spend a week or two tracking every single thing you do each day. This will help you identify patterns and recurring tasks, which you can then incorporate into your schedule.</p>
            <h4 id=intro1 >2. Prioritize</h4>
            <p id=intro1>The second lesson in time management is learning how to prioritize. To efficiently execute any project, you need to decide which stages or components of the project are most important to your business and the impact of each stage/component in the short, medium, and long terms.</p>
            <p id=intro1>In other words, you must figure out which tasks or activities will deliver the best returns. That way, you can prioritize these over less important tasks.</p>
            <h4 id=intro1>3. Set Some Boundaries</h4>
            <p id=intro1>If you want that your team and family to let you work in peace, you need to inform them when you aren’t available. People can’t read your mind, so it’s up to you to set boundaries when necessary. You don’t want to sound rude, so be sure to communicate your limits in a polite – but direct – manner.</p>
            <p id=intro1>TimeTo make this work, you will have to make a few things clear to everybody:</p>
            <ul style=”list-style-type: circle;”>
            <li id=intro1>Which hours of the day you don’t want to be disturbed at all, except in case of an emergency.</li>
            <li id=intro1>What counts as an “emergency.”</li>
            <li id=intro1>When you are free to take quick phone calls or answer simple requests.</li>
            <li id=intro1>How your team should proceed to schedule long-duration meetings for more complex issues.</li>
            </ul>
            <h4 id=intro1>4. Account for Good Distractions<h4>
            <p id=intro1>No matter how hard you try, you will get distracted here and there. That’s a fact of life. Furthermore, no one can work for hours on end. We all need breaks to help us stay productive. The best thing to do is to accept that distractions will happen and try to incorporate them into your schedule.</p>
            <p id=intro1>Block out some downtime during your schedule every day. This may mean setting aside a few minutes here or there for a cup of coffee, a walk in the corridor, or a trip outside for some fresh air. These breaks are especially important if you work at a desk all day long.</p>
            <p id=intro1>You can also use your breaks to try some stress management techniques, like breathing exercises, meditation, or yoga.</p>
            <h4 id=intro1>5. Stay Away From the Bad Distractions</h4>
            <p id=intro1>If there is a good side to distractions, there is also a bad side. If a distraction takes up too much of your time, you will find yourself greatly behind on work. So, get to know which distractions tend to drain too much of your time – and then make every effort to avoid these distractions.</p>
            <p id=intro1>For example, you may want to stay away from social media during the workday. You may also want to keep your email window closed until you are ready to sort through your inbox. Leaving the tab open in the background can be a massive distraction – each new email that comes in will make you want to veer from the task at hand. The same goes for app notifications.</p>
            <h4 id=intro1>6. Get Some Tech Help</h4>
            <p id=intro1>WatchThere are many time management apps available for both Android and iOS devices. These can help you boost your productivity and ensure that you are doing what has to be done.</p>
            <p id=intro1>For example, if you want to know where all your time is going, you should try something like Rescue Time or Toggl.</p>
            <p id=intro1>If your goal is to keep your calendar in order, download Cal or aCalendar.</p>
            <p id=intro1>If you need some help keeping distractions away, give Focus Booster a shot.</p>
            <p id=intro1>If your to-do list is in disarray, then Trello may be perfect for you.</p>
            <p id=intro1>These are just a few of the options out there. There’s a time management app for everyone these days. If you’re not a fan of these suggestions, you can definitely find something else that suits your needs. Just do a little digging.</p>
            <h4 id=intro1>7. Never Procrastinate</h4>
            <p id=intro1>If it can be done today, do it today. This golden rule should be your motto if you want to make the most of your time.</p>
            <p id=intro1>Take it a step further: If something in your schedule changes, and you find yourself with extra time before the end of the day, start on the next day’s tasks without thinking twice. It’s much better to finish your week earlier on Friday than it is to get stuck working on a last-minute project.</p>
            <p id=intro1>Time management requires discipline, planning, a strong attitude, and the help of a few good tech tools. But if you get it right, it will definitely pay off in terms of higher productivity and lower stress levels.</p>
            <p id=intro1>Give these tips a try and see what works for you. Your team, your partners, your clients, and even your family and friends will be much happier to be around you when you’re relaxed and on top of things.</p>
        </div>
    </div>
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html>