<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <div class = topic_content>
        <div div id="topic1">
            <h3 class = title>Should you quit your job</h3>
            <img src="https://images.unsplash.com/photo-1505973600570-59521860b4f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1f383869abf395577ae5bf5e6970d62&auto=format&fit=crop&w=889&q=80"  height="400px" width="600px">
            <a id = llink1 href="https://www.creativelive.com/blog/should-you-quit-your-job/">https://www.creativelive.com/blog/should-you-quit-your-job/</a>
            <p id=intro1>How do you really know if you’re ready to jump into the world of self-employment?</p>
            <p id=intro1>To help you make that call, we’ve designed this infographic to walk you through the process of deciding whether you should, in fact, quit your job. Of course, this process may not hold true for everyone, but it’ll be extremely helpful as you weigh your options and consider all of the potential outcomes heading your way.</p>
            <p id=intro1>REASON ONE: YOU’RE BORED</p>
            <p id=intro1>When you should quit: If you feel like you’ve done everything you can to grow and learn from your role and your company, then yes, it’s definitely time to look elsewhere.</p>
            <p id=intro1>When you shouldn’t quit: It’s probably important to ask yourself if you’ve made enough of an effort to make this as fulfilling for you as possible, and if you’re overlooking opportunities that are sitting literally next door. For example, if you hate your job but love the company you’re working for, you might be able to switch departments or start volunteering for projects outside of your job description.</p>
            <p id=intro1>REASON TWO: YOUR JOB DOESN’T ALIGN WITH YOUR LIFE’S PRIORITIES AND VALUES</p>
            <p id=intro1>When you should quit: When you’ve exhausted every possible option to align the company’s priorities with yours but it’s just not working out and when you know exactly what you’re looking for–and those jobs and places actually exist.</p>
            <p id=intro1>When you shouldn’t quit: When your priorities and values change from day to day and if you’re not actually sure that there are companies and jobs out there that can provide a working environment that’s in line with what you want.</p>
            <p id=intro1>REASON THREE: YOUR JOB IS THE BIGGEST SOURCE OF STRESS AND ANXIETY</p>
            <p id=intro1>When you should quit: When the toll that it’s taken on your mental health is simply too much, and you can’t remember the last time you were happy at work. Or when the source of stress goes beyond ” ‘my  boss doesn’t like me,’  ‘I work too hard,’ ‘I hate my commute’ cry-me-a river problems,”</p>
            <p id=intro1>When you shouldn’t quit: When you have no other source of finances and you need to stick it out to pay the bills (until you find another job, that is). Or, if you think that there is a chance talking to someone at your company (whether it be your manager or HR) will help solve the issue.</p>
            <p id=intro1>REASON FOUR: YOU’RE ITCHING TO DO SOMETHING ELSE</p>
            <p id=intro1>When you should quit: When you’ve thought about what it is exactly you want to do, and you have a clear why for moving into a different career. Having a plan is even better, though job-quitters seem to be divided on whether it’s sensible to quit a job without something else lined up.</p>
            <p id=intro1>When you shouldn’t quit: When you don’t really know why you want to change careers, or why doing something else will make you happy. For example, plenty of people dream of being their own boss, but not all think about the implications and stress that comes with being an entrepreneur.</p>
            <p id=intro1>REASON FIVE: YOU HATE YOUR BOSS</p>
            <p id=intro1>When you shouldn’t quit:  When you know, deep down inside, that you’re learning and getting better. “The nicest bosses aren’t necessarily the ones who teach you the most. Some bosses–the more difficult ones–will intentionally turn up the pressure in order to get you to think harder, perform better, or change your work habits. You won’t exactly welcome all of that with open arms, but it can train you in the art of taking negative feedback or input you disagree with–a valuable skill in any workplace.”</p>
            <p id=intro1>When you should quit: When you’ve tried every tactic to “manage up”but nothing has worked, and when you don’t feel like staying at your job or your company will do your career any favors. Oh, and when you’re 100% sure that it’s not you that’s the problem and you’ve tried everything you can to make your relationship better.</p>
        </div>
    </div>
    <div id = "footer">
    <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html>