<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <div class = topic_content>
        <div id="topic1">
            <h3 class = title>What are the qualitites of a good candidate</h3>
            <img src="https://images.unsplash.com/photo-1465805139202-a644e217f00e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3863a2f51fc204062c0d0a83c011b2c6&auto=format&fit=crop&w=750&q=80"  height="400px" width="600px">
            <a id = llink1 href="https://employmentnorth.com/top-10-qualities-and-skills-employers-are-looking-for/">https://employmentnorth.com/top-10-qualities-and-skills-employers-are-looking-for/</a>
            <h4 id=intro1>1. Communication Skills</h4>
            <p id=intro1>The ability to communicate clearly and effectively in many mediums: by email, verbally, with lists and phone messages, on the phone, and with body language. Communication also includes listening skills and the ability to follow directions and provide feedback.</p>
            <h4 id=intro1>2. Honesty</h4>
            <p id=intro1>Employers want accurate and timely information regarding their business and their employees. Made a mistake? Don’t cover it up, admit it, and learn not to do it again.</p>
            <h4 id=intro1>3. Technical Competency</h4>
            <p id=intro1>Most positions require certain skills that are advertised on the Job Posting. If you are hired to perform certain tasks then you should have the skills. Improving your skills along the way is also expected.</p>
            <h4 id=intro1>4. Work Ethic</h4>
            <p id=intro1>Be at work on time, do what you were hired to do, meet targets and deadlines and work to the best of your ability. What more could an employer ask?</p>
            <h4 id=intro1>5. Flexibility</h4>
            <p id=intro1>Employers and their employees need to react quickly to changing business conditions. Employers need employees who can change gears and adapt as required.</p>
            <h4 id=intro1>6. Determination and Persistence</h4>
            <p id=intro1>Managers will give employees challenging goals but generally they are achievable. The key is to be able to work hard and keep moving forward when you encounter obstacles.</p>
            <h4 id=intro1>7. Ability to Work in Harmony with Co-Workers</h4>
            <p id=intro1>Employers and managers like to have people working with them and for them who can get along with their colleagues and who can work with others effectively in different circumstances.</p>
            <h4 id=intro1>8. Eager and Willing to Add to Their Knowledge Base and Skills</h4>
            <p id=intro1>As businesses change, there is often a need to find out new information, expand knowledge and explore new ways of doing things. People with an interest in learning, and a willingness to pass it on to others, become invaluable.</p>
            <h4 id=intro1>9. Problem-Solving Skills</h4>
            <p id=intro1>Companies are looking for people who are motivated to take on challenges with minimal direction. Employees should see when something needs to be done and react accordingly.</p>
            <h4 id=intro1>10. Loyalty</h4>
            <p id=intro1>Employers want and need to be able to trust their employees to work professionally to meet the employer’s best interests. Employers do not want to hire people who require close scrutiny or who cannot be trusted to represent the company in public.</p>
            <p id=intro1>How can you let an employer know that you have these qualities when you are applying for a job?</p>
            <p id=intro1>Provide a resume that uses the words employers are looking for to get their attention
            Send a cover letter with your resume that clearly demonstrates you understand the skills needed for the job and provide examples of where you have used these skills
            Make sure your references will say good, appropriate things about you on inquiry
            Volunteer and have your supervisor provide a reference
            Have great letter of reference from a previous employer to give to prospective employers
            Have good communication skills, on your resume, on the telephone and in the job interview
            Have examples and stories to tell in the interview of how you learned something or how you solved a problem at a previous position
            </p>
        </div>
    </div>
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html>