   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <div class = topic_content>
        <div id="topic1">
            <h3 class = title>What's the first step you need to take to get the next great career or job move</h3>
            <h3 id=intro1>1. Make sure you’re really ready – emotionally and practically</h3>
            <p id=intro1>Before you decide to change job, you first need to ask yourself if you are thinking of this change for the right reasons, and not just because you’re having a bad day. You need to ensure that you are committed to the job search process, willing and able to apply to vacancies, take phone calls and attend job interviews.</p>
            <h3 id=intro1>2. Consider what you really want from your next role</h3>
            <p id=intro1>Self-evaluation is critical but often overlooked by many professionals when they start thinking about finding a new job. Take some time to assess.</p>
            <ul>
            <li id=intro1>What do you need and want from your job?</li>
            <li id=intro1>What skills and experience do you have to offer?</li>
            <li id=intro1>What type of role interests you?</li>
            <li id=intro1>What type of organisation do you identify with?</li>
            </ul>
            <p id=intro1>Knowing how to confidently answer these questions will help you clearly articulate to either recruitment consultancies or employers what you want to achieve from your next move.</p>
            <h3 id=intro1>3. Do your research</h3>
            <p id=intro1>Once you are clear on the sort of role and employer you are looking for, research the organisations and available jobs that meet your criteria and assess if they will add value to your resume, career or skill set.</p>
            <p id=intro1>Reasearch the job market to figure out what opportunities are available. For advice on this, a good option is to sign on with a recruitment agency in order to get in-depth tips on the current market, which organisations are hiring and how long the recruitment process is currently taking. Ask for any market update and salary information and sign up for job alerts that match your chosen job criteria.</p>
            <h3 id=intro1>4. Get networking</h3>
            <p id=intro1>By being well-networked, you’ll not only be able to tap into the 'hidden' job market; you’ll also be giving yourself a real advantage over other candidates. Your network should include anyone who can assist you with a job search or career move — from past and present co-workers and bosses to colleagues from business associations and friends. Attend industry events or special networking sessions and use tools like LinkedIn to expand your professional social circle.</p>
            <h3 id=intro1>5. Keep learning</h3>
            <p id=intro1>“The more that you read, the more things you’ll know. The more that you learn the more places you’ll go.” -  Dr.Seuss</p>
            <p id=intro1>There's always something more to learn, or something that you can strive to do better than your competitors. Identify these areas, incorporate continuous learning as an integral part of your job search, and keep your skill-sets current and updated. </p>
            <h3 id=intro1>6. Spend adequate time on your CV</h3>
            <p id=intro1>While this may seem like common sense, many professionals can stumble at this hurdle. A good CV should be achievement-driven and sell to a potential employer the benefits of hiring you as an employee. It should always be tailored to the job for which you apply for and explain why you are the right person for the role. Think of your CV as a sales document – it needs to sell you and where you can add value, and convince potential employers that it will be worth their time to interview you.</p>
            <h3 id=intro1>7. Consider interim management</h3>
            <p id=intro1>If you’re unsure exactly what your next career move should be, interim management could be an option for you. It gives you the opportunity to test your capabilities in new environments, helping you to make the next all-important career decision. Interim management assignments can also offer you greater flexibility, work/life balance and the opportunity to increase hourly earnings. Plus, the variety that comes with working in interim management increases your skills base, industry knowledge, experience and exposure to dynamic environments.</p>
        </div>
    </div>
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html> 