<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Find your career</title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 


    <div id= "hot_topic">
        <h2 class = title>Topics</h2>
        <ol>
            <p><a href="/topic1" id=intro1>1. Should you follow your passion or money</a></p>
            <p><a href="/topic2" id=intro1>2. Things to consider when writing your CV</a></p>
            <p><a href="/topic3" id=intro1>3. Most common job interview questions</a></p>
            <p><a href="/topic4" id=intro1>4. What are the qualitites of a good candidate</a></p>
            <p><a href="/topic5" id=intro1>5. How to handle stress at work</a></p>
            <p><a href="/topic6"  id=intro1>6. How to improve your time management skill</a></p>
            <p><a href="/topic7" id=intro1>7. Should you quit your job</a></p>
            <p><a href="/topic8" id=intro1>8. What do you need to do in order to ensure you make the night choices</a></p>
            <p><a href="/topic9" id=intro1>9. What's the first step you need to take to get the next great career or job move</a></p>

        </ol>
    </div>


<div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html>