<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <!-- phan topic 1-->
    <div class = topic_content>
        <div id="topic1">
            <h3 class = title >Most common job interview questions</h3>
            <img src="https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a8623f526569e949b73c4c7360d4532&auto=format&fit=crop&w=750&q=80"  height="400px" width = "600px">
            <a href="https://www.inc.com/jeff-haden/27-most-common-job-interview-questions-and-answers.html">https://www.inc.com/jeff-haden/27-most-common-job-interview-questions-and-answers.html</a>
            <h4 id=intro1 >1. "Tell me a little about yourself."</h4>
            <p id=intro1 >If you're the interviewer, there's a lot you should already know: The candidate's resume and cover letter should tell you plenty. The goal of an interview is to determine whether the candidate will be outstanding in the job, and that means evaluating the skills and attitude required for that job. Does she need to be an empathetic leader? Ask about that. Does she need to take your company public? Ask about that.</p>
            <p id=intro1 >If you're the candidate, talk about why you took certain jobs. Explain why you left. Explain why you chose a certain school. Share why you decided to go to grad school. Discuss why you took a year off to backpack through Europe, and what you got out of the experience.</p>
            <p id=intro1 >When you answer this question, connect the dots on your resume so the interviewer understands not just what you've done, but also why.</p>
            <h4 id=intro1>2. "What are your biggest weaknesses?"</h4>
            <p id=intro1 >Every candidate knows how to answer this question: Just pick a theoretical weakness and magically transform that flaw into a strength in disguise!</p>
            <p id=intro1 >For example: "My biggest weakness is getting so absorbed in my work that I lose all track of time. Every day I look up and realize everyone has gone home! I know I should be more aware of the clock, but when I love what I'm doing I just can't think of anything else."</p>
            <p id=intro1 >So your "biggest weakness" is that you'll put in more hours than everyone else? Great...</p>
            <p id=intro1 >A better approach is to choose an actual weakness, but one you're working to improve. Share what you're doing to overcome that weakness. No one is perfect, but showing you're willing to honestly self-assess and then seek ways to improve comes pretty darned close.</p>
            <h4 id=intro1 >3. "What are your biggest strengths?"</h4>
            <p id=intro1 >I'm not sure why interviewers ask this question; your resume and experience should make your strengths readily apparent.</p>
            <p id=intro1>Even so, if you're asked, provide a sharp, on-point answer. Be clear and precise. If you're a great problem solver, don't just say that: Provide a few examples, pertinent to the opening, that prove you're a great problem solver. If you're an emotionally intelligent leader, don't just say that: Provide a few examples that prove you know how to answer the unasked question.</p>
            <h4 id=intro1>4. "Why do you want this job?"</h4>
            <p id=intro1>Now go deeper. Don't just talk about why the company would be great to work for; talk about how the position is a perfect fit for what you hope to accomplish, both short-term and long-term.</p>
            <p id=intro1>And if you don't know why the position is a perfect fit ... look somewhere else. Life is too short.</p>
            <h4 id=intro1>5. "Tell me about a time you disagreed with a decision. What did you do?"</h4>
            <p id=intro1>No one agrees with every decision. Disagreements are fine; it's what you do when you disagree that matters. (We all know people who love to have the "meeting after the meeting," where they've supported a decision in the meeting but they then go out and undermine it.)</p>
            <p id=intro1 >Show that you were professional. Show that you raised your concerns in a productive way. If you have an example that proves you can effect change, great -- and if you don't, show that you can support a decision even though you think it's wrong (as long as it's not unethical, immoral, etc.).</p>
            <p id=intro1 >Every company wants employees willing to be honest and forthright, to share concerns and issues ... but to also get behind a decision and support it as if they agreed, even if they didn't.</p>
            <h4 id=intro1>6. "Where do you see yourself in five years?"</h4>
            <p id=intro1>Answers to this question go one of two basic ways. Candidates try to show their incredible ambition (because that's what they think you want) by providing an extremely optimistic answer: "I want your job!" Or they try to show their humility (because that's what they think you want) by providing a meek, self-deprecating answer: "There are so many talented people here. I just want to do a great job and see where my talents take me."</p>
            <p id=intro1>In either case you learn nothing, other than possibly how well candidates can sell themselves.</p>
            <p id=intro1 >For interviewers, here's a better question: "What business would you love to start?"</p>
            <p id=intro1 >That question applies to any organization, because every employee at every company should have an entrepreneurial mind-set.</p>
            <p id=intro1 >The business a candidate would love to start tells you about her hopes and dreams, her interests and passions, the work she likes to do, the people she likes to work with ... so just sit back and listen.</p>
            <h4 id=intro1 >7. "What questions do you have for me?"</h4>
            <p id=intro1>Don't waste this opportunity. Ask smart questions, not just as a way to show you're a great candidate but also to see if the company is a good fit for you -- after all, you're being interviewed, but you're also interviewing the company</p>
        </div>
    </div>   
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html>