   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <!-- phan topic 1-->
    <div class = topic_content>
        <div id="topic1">
            <h3 id=intro1>What do you need to do in order to ensure you make the right choices</h3>
            <h3 id=intro1>Rational decision-making model</h3>
            <a href="https://usercontent1.hubstatic.com/11918946_f1024.jpg">https://usercontent1.hubstatic.com/11918946_f1024.jpg</a>
            <p id=intro1>The classic decision-making model is the rational decision-making model which consists of 8 steps that decision makers need to take to achieve the optimal decision given their goals and constraints.</p>
            <p id=intro1>Issue: the problem of this model is the fact that people do not always know what they want or have enough information about the available alternatives, and usually, people end up just making a "good enough" or a safe-bet decision.</p>
            <img src="https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ec3cc92649ac19371b8f32520ae0224&auto=format&fit=crop&w=750&q=80"  height="400px" width="600px">
            <h3 id=intro1>Intuitive decision-making model</h3>
            <p id=intro1>The second decision-making model which is utilized frequently by experts and experienced managers is the intuitive decision-making model. It’s used to intuitively detect a potential problem and use their intuition to investigate its patterns.</p> 
            <img src="https://images.unsplash.com/photo-1483213097419-365e22f0f258?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e88da1d97339e40683ada077dd34b86a&auto=format&fit=crop&w=750&q=80"  height="400px" width="600px">
            <h id=intro13>Creative decision-making model</h3>
            <p id=intro1> Another decision-making model is the creative decision-making model. This model is applied when the decision maker has to come up with an original and unique decision for a situation. 
            In the decision-making process, after gathering information and insights about the problem and generating some initial ideas, the decision maker undergoes a period of incubation, in which he does not actively think about the solutions but let his unconscious mind take over the process. After quite some time, the answer just naturally comes to him in an “eureka” moment, and his next step is just to test and finalize it. 
            </p>
            <p id=intro1>Downside: the success of it depends mainly on the decision maker's personal traits such as his creativity and the contextual situation</p>
            <a href="https://toughnickel.com/business/An-overview-of-decision-making-models">Picture: https://toughnickel.com/business/An-overview-of-decision-making-models</a>
            <img src="https://images.unsplash.com/photo-1521020639566-f5d735f2148b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ad909c393482e54f54a28d049916089&auto=format&fit=crop&w=750&q=80"  height="400px" width="600px">
            <h3 id=intro1>Pros and Cons List</h3>
            <p id=intro1>Creating a Pros and Cons List can be a useful way to help you analyze a decision. This tool is used mainly when you have a "whether or not" type decision. Instead of just a list, I like to rate the value or importance of each item, so that is how I set up this template. In addition to listing the pros and cons, you can enter a value between 0-10 to indicate how important each factor may be.</p>
            <img src="https://images.unsplash.com/photo-1517883405152-7067727fcdb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f58625fa1aeea1a16758399d3c6d012&auto=format&fit=crop&w=750&q=80"  height="400px" width="600px">
        </div>
    </div>          
    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
    </div>
</body>
</html> 