<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index3.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>Topic 3 </title>
</head>
<body>
    <div id = "myHeader">
        <div id = header1>
                <div id = logo>
                        C4E22 CAREER    
                    </div>
                    <div id = 'headercontent'>
                        <a href="/home" class = header>HOME</a>
                        <a href="/personal_types" class = header>PERSONALITY</a>
                        <a href="/job_sector" class = header >JOBS</a>
                        <a href="/topics" class = header >HOT</a>
                        <a href="/story" class = header  id = 'email'>EMAIL US</a>
                    </div>
        </div>
        <div id = txt>
            <i id = lttxt>Let us help you</i>
            <b id = bigtxt>FIND YOUR CAREER</b>
            <a href="/quiz" id = quiz> <b>TRY THIS OUT</b>  </a>
        </div>
    </div> 
    <!-- phan topic 1-->
    <div class = topic_content>
        <div id="topic1">
            <h3 class = title>How to handle stress at work</h3>
            <img src="https://images.unsplash.com/photo-1493836512294-502baa1986e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99c7cad9c42df38b0fb98dfe1b047311&auto=format&fit=crop&w=767&q=80"  height="400px" width="600px">
            <a id = llink1 href="https://www.apa.org/helpcenter/work-stress.aspx">https://www.apa.org/helpcenter/work-stress.aspx</a>
            <br>    
            <a  id = llink1 href="https://www.verywellmind.com/how-to-deal-with-stress-at-work-3145273">https://www.verywellmind.com/how-to-deal-with-stress-at-work-3145273</a>
            <p id=intro1>Common Sources of Work Stress</p>
            <p id=intro1>Certain factors tend to go hand-in-hand with work-related stress. Some common workplace stressors are:</p>
            <ul>
            <li id=intro1>Low salaries.</li>
            <li id=intro1>Excessive workloads.</li>
            <li id=intro1 >Few opportunities for growth or advancement.</li>
            <li id=intro1>Work that isn't engaging or challenging.</li>
            <li id=intro1 >Lack of social support.</li>
            <li id=intro1>Not having enough control over job-related decisions.</li>
            <li id=intro1>Conflicting demands or unclear performance expectations.</li>
            <li id=intro1>Track your stressors. Keep a journal for a week or two to identify which situations create the most stress and how you respond to them. Record your thoughts, feelings and information about the environment, including the people and circumstances involved, the physical setting and how you reacted. Did you raise your voice? Get a snack from the vending machine? Go for a walk? Taking notes can help you find patterns among your stressors and your reactions to them. </li>
            <li id=intro1>Develop healthy responses. Instead of attempting to fight stress with fast food or alcohol, do your best to make healthy choices when you feel the tension rise. Exercise is a great stress-buster. Yoga can be an excellent choice, but any form of physical activity is beneficial. Also make time for hobbies and favorite activities. Whether it's reading a novel, going to concerts or playing games with your family, make sure to set aside time for the things that bring you pleasure. Getting enough good-quality sleep is also important for effective stress management. Build healthy sleep habits by limiting your caffeine intake late in the day and minimizing stimulating activities, such as computer and television use, at night.</li>
            <li id=intro1>Establish boundaries. In today's digital world, it's easy to feel pressure to be available 24 hours a day. Establish some work-life boundaries for yourself. That might mean making a rule not to check email from home in the evening, or not answering the phone during dinner. Although people have different preferences when it comes to how much they blend their work and home life, creating some clear boundaries between these realms can reduce the potential for work-life conflict and the stress that goes with it.</li>
            <li id=intro1>Take time to recharge. To avoid the negative effects of chronic stress and burnout, we need time to replenish and return to our pre-stress level of functioning. This recovery process requires “switching off” from work by having periods of time when you are neither engaging in work-related activities, nor thinking about work. That's why it's critical that you disconnect from time to time, in a way that fits your needs and preferences. Don't let your vacation days go to waste. When possible, take time off to relax and unwind, so you come back to work feeling reinvigorated and ready to perform at your best. When you're not able to take time off, get a quick boost by turning off your smartphone and focusing your attention on non-work activities for a while.</li>
            <li id=intro1>Learn how to relax. Techniques such as meditation, deep breathing exercises and mindfulness (a state in which you actively observe present experiences and thoughts without judging them) can help melt away stress. Start by taking a few minutes each day to focus on a simple activity like breathing, walking or enjoying a meal. The skill of being able to focus purposefully on a single activity without distraction will get stronger with practice and you'll find that you can apply it to many different aspects of your life.</li>
            <li id=intro1>Talk to your supervisor. Employee health has been linked to productivity at work, so your boss has an incentive to create a work environment that promotes employee well-being. Start by having an open conversation with your supervisor. The purpose of this isn't to lay out a list of complaints, but rather to come up with an effective plan for managing the stressors you've identified, so you can perform at your best on the job. While some parts of the plan may be designed to help you improve your skills in areas such as time management, other elements might include identifying employer-sponsored wellness resources you can tap into, clarifying what's expected of you, getting necessary resources or support from colleagues, enriching your job to include more challenging or meaningful tasks, or making changes to your physical workspace to make it more comfortable and reduce strain.</li>
            <li id=intro1>Get some support. Accepting help from trusted friends and family members can improve your ability to manage stress. Your employer may also have stress management resources available through an employee assistance program (EAP), including online information, available counseling and referral to mental health professionals, if needed. If you continue to feel overwhelmed by work stress, you may want to talk to a psychologist, who can help you better manage stress and change unhealthy behavior.</li>
            </ul>
        </div>
    </div>
    
    <!--phan img-->



    <div id = "footer">
        <p> Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội -- c4e22career@gmail.com</p>
        
    </div>
</body>
</html>